:{{ sandbar_ui_http_port }} {
{% for installation in sandbar_installations %}
	handle_path /{{ installation.project }}/* {
		reverse_proxy 127.0.0.1:{{ installation.reader_port }}
	}
{% endfor %}
	root * {{ sandbar_ui_root }}
	file_server
}
